body {
    margin: 0px;
}
header {
    background-color: green; 
    color: white; 
    padding: 70px;
    text-align: center;
    background-image: url(https://blog.climatefieldview.com.br/hs-fs/hubfs/IOT%20na%20agricultura-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.principal {
    display: flex;
    flex-direction: row;
}
.texto {
    flex: 1;
    padding: 20px;
}
.foto1 {
    width: 50%;
    float: left;
    margin-right: 20px;
}
