body {
    margin: 0px;
}
header {
    background-color: green; 
    color: white; 
    padding: 70px;
    text-align: center;
    background-image: url(https://blog.climatefieldview.com.br/hs-fs/hubfs/IOT%20na%20agricultura-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
