@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,500;1,500&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
}
.butao {
    background-color: #18e229;
    margin: 10px;
}
header {
    background-color: green;
    padding: 20px;
}

.logo1 {
    width: 100%; 
    max-width: 200px; 
    height: auto; 
    margin: 0 auto;
}

h1 {
    text-align: center;
}

h2 {
    margin: 25px auto; 
    max-width: 90%; 
}

.fonte {
    font-weight: 500;
}

.foto1 {
    width: 600px; 
    height: auto; 
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    max-width: 1000px; 
}

footer {
    background-color: dimgray;
    padding: 50px; 
    text-align: center;
    color: wheat;
}


@media only screen and (max-width: 768px) {
    header {
        padding: 15px; 
    }

    .foto1 {
        max-width: 100%; 
    }

    footer {
        padding: 20px; 
    }
}
